---
type Props = {
	date: Date;
	tags: string[];
	caption: string | null;
};
const { date, tags, caption } = Astro.props;

function photoDate(date: Date) {
	// format like YYYY/MM/DD
	return date.toISOString().slice(0, 10).replace(/-/g, "/");
}

const matcher = {
	"usteetic P80":
		"Kids Instant Print Camera 1080p for Ages 3-12 - Ink Free Printing Dinosaur Toddler Camera, Christmas Birthday Gifts for Boys Girls 3-12 Years Old",
};
---

<figcaption>
	<style>
		* {
			margin: 0;
			padding: 0;
		}
		figcaption {
			font-size: 0.9em;
		}
		figcaption .caption {
			font-style: italic;
		}
		.photo-tag {
			cursor: pointer;
			user-select: none;
		}
		.photo-tag:focus {
			outline: 1px dotted #555;
		}
	</style>
	<p>
		{photoDate(date)}
		{
			tags.length > 0 && (
				<>
					{" | "}
					<span id="phototags">
						{tags.map((tag, idx) => {
							const matched = (matcher as any)[tag];
							return (
								<span>
									<span
										class="photo-tag"
										data-idx={idx}
										data-tag={tag}
										data-detail={matched ?? ""}
										data-show-detail="false"
									>
										<span class="content">{tag}</span>
									</span>
									{idx < tags.length - 1 ? " | " : ""}
								</span>
							);
						})}
					</span>
				</>
			)
		}
	</p>
	{caption && <p class="caption">{caption}</p>}
</figcaption>

<script type="module" is:inline>
	document.addEventListener("DOMContentLoaded", () => {
		// prevent weird issue in dev from it binding events on every hot module reload
		if (!window.__photo_tags_bound) {
			window.__photo_tags_bound = true;
			document.querySelectorAll(".photo-tag").forEach((el) => {
				el.addEventListener("click", () => {
					const tag = el.dataset.tag;
					const detail = el.dataset.detail;
					const showDetail = el.dataset.showDetail === "true";
					if (detail) {
						const newText = showDetail ? tag : detail;
						el.querySelector(".content").textContent = newText;
						el.setAttribute("data-show-detail", showDetail ? "false" : "true");
					}
				});
			});
		}
	});
</script>
