---
type Props = {
	date: Date;
	tags: string[];
	caption: string | null;
};
const { date, tags, caption } = Astro.props;

function photoDate(date: Date) {
	// format like YYYY/MM/DD
	return date.toISOString().slice(0, 10).replace(/-/g, "/");
}

const matcher = {
	"usteetic P80":
		"Kids Instant Print Camera 1080p for Ages 3-12 - Ink Free Printing Dinosaur Toddler Camera, Christmas Birthday Gifts for Boys Girls 3-12 Years Old",
};
---

<figcaption>
	<style>
		* {
			margin: 0;
			padding: 0;
		}
		figcaption {
			font-size: 0.9em;
		}
		figcaption .caption {
			font-style: italic;
		}
	</style>
	<p>
		{photoDate(date)}
		{
			tags.length > 0 && (
				<>
					{" | "}
					<span>
						{tags.map((tag, idx) => {
							const matched = (matcher as any)[tag];
							return (
								<span>
									<span
										class="photo-tag"
										style={
											matched !== undefined
												? {
														cursor: "pointer",
													}
												: undefined
										}
										role="button"
										data-idx={idx}
										data-tag={tag}
										data-detail={matched ?? ""}
										data-show-detail="false"
									>
										{tag}
									</span>
									{idx < tags.length - 1 ? " | " : ""}
								</span>
							);
						})}
					</span>
				</>
			)
		}
	</p>
	{caption && <p class="caption">{caption}</p>}
</figcaption>
